<nav class = "fixed w-full top-0 bg-(--ev-dark)">
  <div class = "flex justify-between p-4 max-w-4xl mx-auto">
    <%= physics_page? %>
    <%= biology_page?%>
    <%= chemistry_page?%>
  </div>
</nav>