<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", physics_path, class: "inline-block nav_links text-black! hover:text-(--ev-dark)! transition-all transform hover:scale-[1.1]" %>
  </div>

  <div class="text_box page_animation">
    <h1 class="headers">Sursă de energie mareomotrică</h1>

    <h2>Ce este energia mareelor?</h2>

    <p>
      Energia mareomotrică sau energia mareelor este energia ce poate fi captată prin exploatarea energiei potențiale rezultate din deplasarea pe verticală a masei de apă la diferite niveluri sau a energiei cinetice datorate curenților de maree. Energia mareelor rezultă din forțele gravitaționale ale Soarelui și Lunii, precum și ca urmare a rotației terestre.
    </p>

    <p>
      Este o formă de energie regenerabilă.
    </p>

    <p>
      Energia astfel obținută este una regenerabilă, fiind provenită din surse naturale, care se refac mult mai repede decât se consumă. Într-un final, prin utilizarea acestui tip de energie se obțin mai puține emisii de gaze de seră decât în cazul arderii combustibililor fosili. Conform studiilor, se pare că energia mareelor are un potențial imens, reprezentând echivalentul a o pătrime din cantitatea necesară în întreaga lume, la momentul actual.
    </p>

    <p>
      Deși este un domeniu relativ nou, se preconizează faptul că energia mareelor ar putea înlocui cu succes alte surse de energie, cel puțin pentru 20% din cantitatea necesară în lume. Estimările ne sugerează faptul că acest tip de energie ar putea asigura anual 700 de Twh (Terawatt/oră).
    </p>

    <div class="image_center">
      <%= image_tag "mareomotric.png", alt:"Mareomotric work", class:"rounded-xl"%>
    </div>

    <h2>Avantaje</h2>

    <p>
      - ocupă puțin spațiu
    </p>

    <p>
      - rezistă un timp îndelungat
    </p>

    <p>
      - consecvență (produc energie și la maree scăzută)
    </p>

    <p>
      - longevitatea mecanismului, acesta rezistând 100 de ani
    </p>

    <h2>Dezavantaje</h2>

    <p>
      - lipsa cercetării, fiind o sursă nouă de energie
    </p>

    <p>
      - impactul negativ al emisiilor EMF asupra biosferei marine
    </p>

    <p>
      - costuri ridicate de construcție
    </p>

    <h2>Cum se compară energia mareelor cu cea solară și eoliană</h2>

    <p>
      Energia are un potențial de producție energetică mai mare decât energia eoliană, în principal datorită faptului că apa este mai densă decât aerul.
    </p>

    <p>
      Asta înseamnă că la aceeași dimensiune a turbinei și la aceeași viteză a rotorului, energia mareelor este mai eficientă decât cea eoliană.
    </p>

    <p>
      Apoi intervine predictibilitatea, din moment ce puterea vântului variază foarte mult chiar și în intervale scurte de timp, însă mareele sunt mai previzibile și mai consistente, ceea ce le face o sursă mai bună pentru producția de energie decât energia solară și cea eoliană.
    </p>

    <h2>Cum funcționează turbinele mareomotrice</h2>

    <p>
      Turbinele mareomotrice sunt dispozitive care colectează energie mareică și funcționează în același mod ca turbinele eoliene, înlocuind doar vântul cu apa.
    </p>

    <p>
      Pentru a fi cât mai eficiente, turbinele mareomotrice trebuie instalate în zone cu activitate mareică foarte puternică și pot fi instalate individual sau colectiv, pot fi plutitoare sau ancorate pe fundul mării.
    </p>

    <p>
      Apa mișcă paletele turbinei, acestea acționează rotorul care acționează și alimentează generatorul.
    </p>

    <p>
      Turbinele mareomotrice sunt mai mici decât cele eoliene, astfel că mai multe turbine mareomotrice trebuie instalate pentru a obține aceeași cantitate de energie produsă.
    </p>

    <p>
      De asemenea, ele trebuie să fie mai rezistente, având în vedere mediul în care operează.
    </p>

    <h2>Țări care folosesc energia mareelor</h2>

    <p>
      Există câteva țări care folosesc energia mareelor, printre care Franța, care are un sistem de turbine mareomotrice în La Rance, care a fost pus în funcțiune în 1966 și a fost cel mai mare până în 2011, când un sistem din Coreea de Sud l-a întrecut.
    </p>

    <p>
      Sistemul mareomotric al francezilor este capabil de a produce 240 de megawați, în vreme ce sistemul coreenilor deschis deceniul trecut poate produce 254 MW.
    </p>

    <p>
      Cea mai mare centrală mareomotrică din lume este Uldolmok, din Coreea de Sud.
    </p>

    <p>
      Cel mai mare proiect de turbine mareomotrice din prezent este MeyGen din Scoția, care va avea cea mai mare capacitate din lume atunci când va fi pus în funcțiune, de 398 MW.
    </p>

    <p>
      Prima fază a proiectului scoțienilor este finalizată și operațională, urmând ca celelalte două să fie realizate în viitor.
    </p>

    <h2>De ce nu este mai des folosită energia valurilor</h2>

    <p>
      Răspunsul vine privind dezavantajele sistemului, prin costul ridicat de instalare și mentenanță, alături de potențialele efecte adverse asupra mediului înconjurător și lipsa cercetării care face dificilă implementarea unui sistem ca acesta.
    </p>

    <p>
      Pe măsură ce tehnologia progresează și mai multe cercetări sunt realizate pentru a ameliora efectele negative pe care le are energia valurilor, vom reuși ca în viitor să implementăm mai eficient acest tip de sistem de energie.
    </p>

    <p>
      Sursele regenerabile de energie reprezintă viitorul în ceea ce privește producția de energie și ar trebui să poată înlocui la un moment dat combustibilii fosili, însă pentru a putea face acest lucru trebuie să ne asigurăm că au fost efectuate destule cercetări pentru a putea face acest tip de tehnologie mai ușor și mai ieftin de implementat și de întreținut, cu o amprentă cât mai redusă asupra mediului.
    </p>

    <div class="items-center">
      <%= image_tag "mareomotric-wave.png", alt: "Waves", class:"rounded-xl"%>
    </div>

    <h2>Surse</h2>

    <p>
      https://green-report.ro/energia-mareelor-care-sunt-avantajele-si-dezavantajele/
    </p>

    <p>
      https://prezi.com/p/vrwtim_cdzdk/energia-mareomotrica/
    </p>

    <p>
      https://green.start-up.ro/ro/energia-mareelor-turbinele-mareomotrice-ce-sunt-si-cum-functioneaza/
    </p>
  </div>
</div>