<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", biology_path, class: "inline-block nav_links text-black! hover:text-(--ev-dark)! transition-all transform hover:scale-[1.1]" %>
  </div>
  <div class="text_box">
    <h1 class="headers">Sustenabilitatea biocombustibililor</h1>

    <p>
      Sustenabilitatea: Biocombustibilii sunt energie regenerabilă obținută din plante. Masa vegetală se dezvoltă continuu, deci reprezintă o sursă de materie primă permanentă. Pentru că există o varietate de plante ce pot constitui materie primă, posibilitățile de producție a biocombustibilului sunt foarte variate. Un alt beneficiu este faptul că, pentru desfășurarea procesului de fotosinteză, plantele cultivate pentru biocombustibili folosesc importante cantități de CO₂ existent în atmosferă.
    </p>

    <p>
      Compatibilitate cu tehnologiile actuale: Biocombustibilii se pretează pentru utilizarea în transportul de lungă și scurtă distanță, cu beneficiul unor emisii reduse, cu zero modificări ale motoarelor sau cu modificări limitate. Performanța la utilizare este bună, incluzând chiar și beneficii ce țin de longevitatea motoarelor.
    </p>

    <p>
      Protecția mediului: Utilizarea biocombustibililor conduce la scăderea emisiilor de gaze cu efect de seră (cu valori de până la 86%) și a cantității de noxe din orașe. În același timp, poate avea beneficii de mediu indirecte, cum este scăderea cantităților de deșeuri ce ajung la gropile de gunoi
    </p>

    <div class="image_center">
      <%= image_tag "bio-fuel-3.png", alt: "", class:"rounded-xl"%>
    </div>

    <h2>Biocombustibili – avantaje și dezavantaje</h2>

    <p>
      Utilizarea și producerea de biocombustibili are numeroase avantaje, cele mai importante fiind:
    </p>

    <p>
      · Scăderea emisiilor de carbon ale mecanismelor ce funcționează pe baza acestei surse de energie. Biocarburanții, în momentul în care sunt arși, emit mai puțin CO2 decât cei obișnuiți.
    </p>

    <p>
      · Costul scăzut – fiind o sursă regenerabilă de producere a energiei, costurile pe care le implică utilizarea de biocarburanți sunt mult mai mici decât cele de pe piața benzinei, dată fiind cererea în creștere a petrolului și augmentarea prețului acestuia.
    </p>

    <p>
      · Biodegradabili – biocombustibilii sunt biodegradabili, iar folosirea acestora este mai puțin periculoasă decât cea a carburanților clasici.
    </p>

    <h2>Dezavantajele biocarburanților:</h2>

    <p>
      · Necesitatea utilizării unei cantități mari de apă în procesul producției acestora.
    </p>

    <p>
      · Capacitatea calorică scăzută a produsului final.
    </p>

    <h2>Impactul biocombustibililor asupra agriculturii și biodiversității</h2>

    <p>
      Impactul asupra surselor de apă și alimente: Producția de biocombustibili presupune materie primă provenind din agricultură, ceea ce ar putea conduce la cultivarea preponderentă a anumitor tipuri de plante sau chiar creșterea prețurilor. De asemenea, culturile energetice, printre care soia, rapița, floarea-soarelui și chiar porumbul, necesită irigații și utilizarea unor cantități însemnate de apă, ceea ce ar putea afecta resursele hidrice din zonele respective.
    </p>

    <p>
      Studii realizate de cercetători britanici arată că biocombustibilul produce mai mult rău decât bine mediului înconjurător. Energia folosită la cultivarea, culegerea, transportul şi procesarea recoltelor, distrugerea habitatelor naturale ale pădurilor tropicale, care captează bioxidul de carbon, şi folosirea din ce în ce mai pronunţată a pesticidelor şi îngrăşămintelor fac parte din efectele negative identificate în studiu.
    </p>

    <div class="image_center">
      <%= image_tag "bio-fuel-1.png", alt: "", class:"rounded-xl"%>
    </div>

    <h2>Prețuri ridicate:</h2>

    <p>
      Ca și în cazul altor tehnologii care nu și-au dezvoltat piața (de exemplu hidrogenul), producția biocombustibililor este mai costisitoare decât a combustibililor convenționali
    </p>

    <h2>Posibile soluții:</h2>

    <p>
      reciclarea și utilizarea unor materiale ce și-au încheiat ciclul de viață.
    </p>

    <p>
      O sursă importantă de materie primă este reprezentată de deșeuri și reziduuri, cum sunt uleiurile alimentare.
    </p>

    <p>
      În România există deja numeroase inițiative private de colectare a uleiului uzat, protejând astfel mediul (uleiurile uzate deversate în sol sau apă reprezentând un factor poluant semnificativ) și furnizând materie primă pentru producția de biodiesel.
    </p>

    <h2>Biodieselul și bioetanolul. Cum se obțin din plante</h2>

    <p>
      Biodieselul: este un biocombustibil lichid obținut din uleiuri vegetale sau din alte grăsimi naturale. În cazul plantelor, materia primă provine în special din culturi oleaginoase precum rapița, floarea-soarelui, soia sau palmierul de ulei. Semințele acestor plante sunt presate sau procesate pentru a se extrage uleiul vegetal. Apoi, uleiul este supus unui proces chimic numit transesterificare, în care reacționează cu un alcool, de obicei metanolul sau etanolul, în prezența unui catalizator. În urma acestei reacții se obține biodieselul, iar ca produs secundar rezultă glicerina. Biodieselul poate fi folosit ca alternativă la motorina convențională, mai ales în amestec cu aceasta.
    </p>

    <p>
      Cum se obține biodieselul din plante: Mai întâi sunt cultivate plante oleaginoase, apoi semințele lor sunt recoltate și prelucrate pentru extragerea uleiului. După filtrare și purificare, uleiul vegetal este transformat chimic în biodiesel prin reacția cu alcool. Procesul final include separarea biodieselului de glicerină și purificarea combustibilului obținut.
    </p>

    <p>
      Bioetanolul: este un alcool obținut prin fermentarea zaharurilor provenite din plante. Cele mai utilizate materii prime sunt plantele bogate în zaharuri sau amidon, precum trestia de zahăr, sfecla de zahăr, porumbul, grâul și alte cereale. Dacă planta conține amidon, acesta trebuie mai întâi transformat în zaharuri simple. După aceea, zaharurile sunt fermentate cu ajutorul unor microorganisme, de obicei drojdii, care transformă zahărul în etanol și dioxid de carbon. Etanolul rezultat este apoi separat și concentrat prin distilare.
    </p>

    <p>
      Cum se obține bioetanolul din plante: Plantele sunt recoltate și procesate pentru a se extrage zaharurile sau amidonul. În cazul cerealelor sau porumbului, amidonul este descompus enzimatic în glucoză. Apoi urmează fermentarea, în care drojdiile transformă glucoza în etanol. La final, bioetanolul este purificat prin distilare pentru a putea fi utilizat drept combustibil, de obicei în amestec cu benzina.
    </p>

    <p>
      Diferența dintre biodiesel și bioetanol: Biodieselul se obține în special din uleiuri vegetale, în timp ce bioetanolul se obține din zaharuri și amidon din plante. Biodieselul este folosit mai ales ca înlocuitor al motorinei, iar bioetanolul ca aditiv sau înlocuitor parțial al benzinei.
    </p>

    <div class="image_center">
      <%= image_tag "bio-fuel-2.png", alt: "", class:"rounded-xl"%>
    </div>

    <h2>Surse:</h2>

    <p>
      · https://www.canr.msu.edu/uploads/files/biodiesel_production.pdf
    </p>

    <p>
      · https://energy.wisc.edu/education/for-educators/educational-materials/fuel-oil-seeds-production-and-analysis-biodiesel
    </p>

    <p>
      · https://www.britannica.com/technology/biofuel
    </p>

    <p>
      · https://ziarullumina.ro/amp/biocombustibilul-face-mai-mult-rau-decat-bine-mediului-inconjurator-62023.html
    </p>

    <p>
      · https://viitorulenergiei.ro/biocombustibilii-intrebari-si-raspunsuri/
    </p>

    <p>
      · https://viitorulenergiei.ro/biocombustibilii-intrebari-si-raspunsuri/
    </p>

    <p>
      · https://stratos.ro/biocombustibilii-ce-sunt-acestia-si-de-ce-ar-trebui-sa-te-intereseze/
    </p>

  </div>
</div>