<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", :back, class: "inline-block nav_links text-(--ev-pbg)! hover:text-(--ev-dark)! transition-all transform hover:scale-[1.1]" %>
  </div>

  <div class="text_box">
    <h1 class="headers">Biomasa-energie din organismele vii</h1>

    <h2>1. Ce este biomasa si cum poate fi transformata in energie</h2>

    <p>
      Biomasa se referă la orice material organic care poate fi utilizat pentru a produce energie și include
      o gamă variată de surse, cum ar fi lemnul, resturile agricole și chiar deșeurile animale. Aceasta
      se transformă în energie prin ardere, fermentare sau gazificare, eliberând energie sub formă de
      căldură, electricitate sau biocombustibili.
    </p>

    <p>
      Spre deosebire de combustibilii fosili, care sunt limitați și contribuie la poluare, biomasa 
      este considerată o sursă regenerabilă.
    </p>

      <div class="image_center">
        <%= image_tag "biomass-2.png", alt: "biomass", class: "rounded-xl"%>
      </div>
    <p>
      Tipuri de biomasa:
    </p>

    <p>
      · Lemn și reziduuri forestiere fiind folosite direct pentru ardere în sobe sau centrale termice, sau
      poate fi prelucrat în paleți și brichete pentru utilizare mai eficientă.
    </p>

    <p>
      · Deșeurile agricole includ reziduuri de la recolte, fiind adesea utilizate în producția de biogaz prin 
      procesul de fermentare anaerobă. De asemenea, aceste materiale pot fi transformate în bioenergie și în aditivi 
      pentru soluri;
    </p>

    <p>
      · Deșeurile animale pot fi utilizate pentru a produce biogaz și pentru a fertiliza solul. În plus, ele pot
       contribui la reducerea impactului poluant al deșeurilor de origine animală;
    </p>

    <p>
      · Culturile energetice sunt plante cultivate în mod special pentru producția de energie, cum ar fi miscanthusul
      sau cânepa. Aceste plante sunt cultivate pentru a fi recoltate și transformate în biocombustibili sau
      alte forme de energie.
    </p>

    <p>
      · Deseurile organice urbane includ resturile alimentare și deșeurile din grădini, care pot fi utilizate 
      pentru a produce compost sau biogaz. Procesarea acestor deșeuri nu reduce doar cantitatea de gunoi care ajunge 
      la gropile de gunoi, dar contribuie și la obținerea de energie și îmbunătățirea calității solului.
    </p>

    <p>
      Conversia biomasei în energie implică mai multe etape și tehnologii diferite, fiecare cu propriile sale aplicații 
      și eficiențe. Principalele metode de conversie sunt:
    </p>

    <p>
      · Arderea directă: Biomasa solidă, cum ar fi lemnul și paleții, este arsă într-o cameră de ardere pentru a produce 
      căldură. Această căldură poate fi utilizată direct pentru încălzirea spațiilor sau poate fi transformată în energie 
      electrică prin intermediul centralelor termice. Arderea biomasei este un proces eficient, dar poate produce emisii de 
      dioxid de carbon și alte particule, de aceea este importantă utilizarea tehnologiilor de filtrare și gestionare a 
      emisiilor;
    </p>

    <p>
      · Gazificarea: Biomasa este supusă unui proces de încălzire parțială într-un mediu cu cantitate limitată de oxigen. 
      Acest proces produce un gaz sintetic numit „gaz de sinteză” sau „syngas”, care conține hidrogen, monoxid de carbon și 
      metan. Gazul poate fi utilizat pentru a produce electricitate în motoare cu combustie internă sau turbine, sau poate 
      fi prelucrat în biocombustibili lichizi;
    </p>

    <p>
      · Fermentarea anaerobă: Implică descompunerea biomasei organice, cum ar fi resturile alimentare și deșeurile 
      de animale, într-un mediu fără oxigen. Microorganismele descompun materialul organic și produc biogaz, care 
      este în principal metan și dioxid de carbon. Biogazul poate fi utilizat pentru a produce energie electrică și căldură, 
      iar deșeurile rămase sunt utilizate ca îngrășământ natural.
    </p>

    <div class="image_center">
      <%= image_tag "biomass-1.png", alt: "biomass", class: "rounded-xl"%>
    </div>

    <h2>2.Deșeurile vegetale și animale ca surse de biogaz:</h2>

    <p>
      Biogazul este un tip de biocombustibil produs în mod natural din descompunerea deșeurilor organice. Biogazul este 
      produs atunci când bacteriile digeră materia organică în absența oxigenului (digestia anaerobă). Atunci când materia
      organică, cum ar fi resturile alimentare și deșeurile animale, se descompune într-un mediu anaerob, se eliberează 
      un amestec de gaze, în principal metan și dioxid de carbon, acest compus poate fi utilizat cu succes ca sursă de 
      energie regenerabilă.
    </p>

    <p>
      Procesul de producţie a metanului biologic, la prima vedere, pare a fi foarte simplu. Deșeurile organice, diluate cu
      apă până la consistenţa necesară, sunt plasate într-un bioreactor (fermentator) ermetizat. Aici, bacteriile care
      formează metan, consumându-le, eliberează metan, dioxid de carbon și hidrogen sulfurat. Gazul este colectat și deviat 
      pentru implementare practică.
    </p>

      <div class="image_center">
        <%= image_tag "biomass-3.png", alt: "biomass", class: "rounded-xl"%>
      </div>

    <p>
      Biomasa este transformată în biogaz, care conţine în principal metan (CH4), dioxid de carbon (CO2) și în cantităţi 
      mult mai mici hidrogen (H2) și hidrogen sulfurat (H2S).
    </p>

    <p>
      Biogazul este o sursă excelentă de energie curată, ceea ce înseamnă că are un impact mai redus asupra mediului
      decât combustibilii fosili, fiind neutru din punct de vedere al emisiilor de carbon. Acest lucru se datorează 
      faptului că biogazul este produs din materie vegetală, care a fixat anterior carbonul din dioxidul de carbon din 
      atmosferă. Se menține un echilibru între cantitatea de carbon eliberată de biogaz și cea absorbită din atmosferă.
    </p>

    <h2>3.Avantajele si dezavantajele producerii energiei electrice prin biomasa</h2>

    <h2>Avantaje:</h2>

    <p>
      · Sursă regenerabilă: Aceasta este considerată o sursă regenerabilă de energie, deoarece materialele organice 
      se reînnoiesc constant prin creșterea plantelor și reproducția animalelor. Utilizarea biomasei contribuie la 
      reducerea dependenței de resurse fosile epuizabile, cum ar fi cărbunele și petrolul;
    </p>

    <p>
      · Reducerea emisiilor de gaze cu efect de seră: Comparativ cu combustibilii fosili, biomasa poate avea un impact 
      mai mic asupra schimbărilor climatice. Procesul de ardere eliberează dioxid de carbon, dar acesta este, în general, 
      echilibrat de cantitatea de CO2 absorbită de plante în timpul creșterii. În plus, acest proces poate contribui la 
      reducerea emisiilor de metan provenite din deșeurile organice;
    </p>

    <p>
      · Crearea de locuri de muncă: Industria biomasei generează locuri de muncă în sectoare precum agricultura, 
      silvicultura, procesarea și managementul deșeurilor. Acest lucru contribuie la dezvoltarea economică locală și 
      poate aduce beneficii semnificative comunităților rurale;
    </p>

    <p>
      · Gestionarea deșeurilor: Utilizarea deșeurilor organice, cum ar fi resturile alimentare și deșeurile agricole, 
      pentru producția de energie contribuie la gestionarea eficientă a deșeurilor. Acest lucru reduce cantitatea de 
      material care ajunge la gropile de gunoi și minimizează impactul negativ asupra mediului;
    </p>

    <p>
      · Diversificarea surselor de energie: Biomasa oferă o alternativă valoroasă la sursele tradiționale de energie, 
      contribuind la diversificarea mixului energetic. Acest lucru poate spori securitatea energetică și reduce 
      riscurile asociate cu fluctuațiile prețurilor combustibililor fosili;
    </p>

    <h2>Dezavantaje:</h2>

    <p>
      · Impactul asupra utilizării terenurilor: Cultivarea culturilor energetice și colectarea biomasei din resurse 
      naturale pot concura cu producția de alimente și pot duce la schimbări în utilizarea terenurilor. Acest lucru 
      poate avea efecte negative asupra securității alimentare și a biodiversității, în special în regiunile în care 
      terenurile agricole sunt limitate;
    </p>

    <p>
      · Emisii de particule și poluanți: Procesul de ardere a biomasei poate produce emisii de particule fine și alți 
      poluanți, cum ar fi oxizii de azot și compușii organici volatili. Aceste emisii pot avea efecte adverse asupra 
      sănătății umane și a mediului, de aceea este importantă utilizarea tehnologiilor de control al emisiilor și a 
      surselor curate de biomasă;
    </p>

    <p>
      · Costuri de producție și transport: Colectarea, prelucrarea și transportul biomasei pot fi costisitoare și pot 
      necesita infrastructură specifică. Aceste costuri pot influența competitivitatea biomasei față de sursele tradiționale 
      de energie, în special în regiunile unde infrastructura este limitată;
    </p>

    <p>
      · Eficiența energetică: Eficiența conversiei în energie poate varia în funcție de tehnologia utilizată și de 
      tipul de biomasa. De exemplu, arderea directă a acesteia poate fi mai puțin eficientă comparativ cu metodele 
      de gazificare sau fermentare. De asemenea, cantitatea de energie obținută poate depinde de calitatea și 
      compoziția biomasei;
    </p>

    <p>
      · Riscuri pentru securitatea energetică: Dependența excesivă de biomasă poate crea vulnerabilităși legate 
      de fluctuațiile în disponibilitatea resurselor naturale și de impactul schimbărilor climatice asupra 
      recoltelor de biomasa. Este important să se asigure o gestionare durabilă și diversificată a surselor 
      de biomasă pentru a minimiza aceste riscuri.
    </p>

    <h2>Surse</h2>
    
    <p>
      Sursa: https://www.vitalia-mediu.ro/informatii/biomasa/
    </p>

    <p>
      Sursa: https://www.vitalia-mediu.ro/informatii/biomasa/
    </p>

    <p>
      Surse: https://www.green-environment.ro/ce-este-biogazul-si-ce-trebuie-sa-stim-despre-el/
    </p>

    <p>
      https://agrobiznes.md/cum-producem-biogaz-si-energie-termica-din-deseuri-agricole.html
    </p>

  </div>
</div>