<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", :back, class: "inline-block nav_links text-(--ev-pbg)! hover:text-(--ev-dark)! transition-all transform hover:scale-[1.1]" %>
  </div>

  <div class="text_box">
    <h1 class="headers">Energia verde și schimbările climatice</h1>

    <h2>1. Ce este energia verde?</h2>

    <p>
      Energia „verde” este energie produsă din surse regenerabile, cu impact redus asupra mediului de-a lungul ciclului de viață și cu emisii scăzute în operare.
    </p>

    <p>
      În practică, sunt vizate tehnologii precum fotovoltaic, eolian, hidro, geotermal sau biomasa. În multe ghiduri si standarde, accentul cade pe non-emisia de gaze cu efect de seră în exploatare și lipsa deșeurilor periculoase
    </p>

    <h2>2. Impactul negativ al emisiilor de carbon:</h2>

    <p>
      Dioxid de carbon (CO2): un gaz cu efect de seră, produs în principal prin arderea combustibililor fosili și prin activitățile industriale.
    </p>

    <p>
      ! Emisiile de carbon au efecte devastatoare asupra mediului, contribuind la încălzirea globală, acidificarea oceanelor și pierderea diversității biologice. Pe termen scurt, comunitățile locale pot experimenta fenomene meteorologice extreme, inclusiv furtuni, inundații și secetă. Pe termen lung, climatul deteriorat amenință agricultura, sănătatea publică și infrastructura.
    </p>

    <h2>3. Tranziția către energia sustenabilă</h2>

    <p>
      Tranziția către energia sustenabilă, deși necesară pentru sănătatea planetei, prezintă atât aspecte pozitive, cât și negative pentru ecosisteme.
    </p>

    <h2>1) Utilizarea terenurilor pentru energie regenerabilă</h2>

    <p>
      Dezvoltarea unor surse de energie regenerabilă, cum ar fi energia solară și eoliană, necesită utilizarea terenurilor. Amplasarea fermelor eoliene sau a parcurilor solare poate afecta habitatele naturale, influențând biodiversitatea și funcționarea ecosistemelor. Este importantă o planificare atentă a acestor proiecte pentru a minimiza impactul asupra ecosistemelor.
    </p>

    <h2>2) Extracția materiilor prime</h2>

    <p>
      Producția de tehnologii pentru energia regenerabilă necesită extracția materiilor prime, cum ar fi metale rare, care pot avea un impact semnificativ asupra mediului. Exploatarea resurselor minerale necesare pentru tehnologiile verzi, precum bateriile pentru vehiculele electrice sau panourile solare, poate genera poluare și degradarea mediului în zonele de extracție.
    </p>

    <h2>3) Impactul barajelor asupra mediului</h2>

    <p>
      Barajele contribuie semnificativ la îndeplinirea cerințelor de alimentare cu apă ale societății; în același timp, ele furnizează o sursă regenerabilă, nepoluantă de energie electrică.
    </p>

    <p>
      Consecințele de mediu ale barajelor mari sunt numeroase și variate și includ impacturi directe asupra proprietăților biologice, chimice și fizice ale râurilor și ale mediului riveran. Barajul blochează migrațiile peștilor, care, în unele cazuri și cu unele specii, separă complet habitatele de reproducere de habitatele de creștere. Barajul captează, de asemenea, sedimentele, care sunt esențiale pentru menținerea proceselor fizice și a habitatelor în aval de baraj (includ menținerea deltelor productive, a insulelor de barieră, a câmpiilor inundabile fertile și a zonelor umede de coastă). Modificările de temperatură, compoziția chimică, nivelurile de oxigen dizolvat și proprietățile fizice ale unui rezervor nu sunt adesea potrivite pentru plantele și animalele acvatice care au evoluat cu un anumit sistem fluvial.
    </p>

    <p>
      Marile baraje si efectele lor geofizice- Universitatea Tehnică de Construcții București Facultatea de Hidrotehnică ( https://sd.utcb.ro/wp-content/uploads/2020/09/Raport-de-cercetare_romana_Al-Mashhadi.pdf )
    </p>

    <h2>4. Energia verde și sănătatea umană</h2>

    <p>
      Un aspect mai puțin evident, dar extrem de important, este impactul pozitiv pe care energia verde îl are asupra sănătății umane. Utilizarea energiei verzi reduce poluarea aerului, ceea ce duce la o mai bună calitate a aerului pe care îl respirăm. Acest lucru poate reduce riscul de boli respiratorii, afecțiuni cardiovasculare și alte probleme de sănătatea legate de poluarea aerului.
    </p>

    <h2>Impactul aerului poluat:</h2>

    <p>
      1) Particulele poluante pătrund adânc în plămâni, provocând inflamații și iritații persistente.
    </p>

    <p>
      2) Expunerea constantă la aer poluat reduce elasticitatea plămânilor și afectează schimbul de oxigen.
    </p>

    <p>
      3) Poluarea este un factor declanșator pentru crizele de astm și pentru reacțiile alergice.
    </p>

    <p>
      4) Aerul poluat slăbește sistemul imunitar local al plămânilor.
    </p>

    <p>
      5) Unul dintre cele mai grave efecte ale poluării este legătura directă cu cancerul pulmonar.
    </p>

    <h2>Surse</h2>
    <p>
      https://euromedic.ro/energia-verde-si-rolul-ei-intr-un-stil-de-viata-mai-sanatos-cum-o-adoptam/
    </p>

    <p>
      https://caritsanmed.ro/top-5-efecte-negative-ale-poluarii-aerului-asupra-plamanilor/
    </p>

    <p>
      https://genesisbiopartner.ro/blog/energia-verde-ce-este
    </p>

    <p>
      https://energie-sustenabila.ro/cum-sunt-afectate-ecosistemele-de-tranzitia-catre-energia-sustenabila/
    </p>

    <p>
      https://revistaverso.ro/reducerea-emisiilor-de-carbon-solutii-si-strategii-pentru-un-viitor-sustenabil/
    </p>

    <p>
      https://revistaverso.ro/impactul-dioxidului-de-carbon-asupra-schimbarilor-climatice-provocari-si-solutii/
    </p>

  </div>
</div>